@page
@model EntApp1.pages.ws1bModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ws2b</title>
</head>
<body>
    <form method="post">
        <label for="number1">Enter two numbers</label>
        <input type="number" id="number1" name="number1" />
        <input type="number" id="number2" name="number2" />
        <button type="submit">Submit</button><br />

        <label for="add">Add</label>
        <input type="radio" name="action" id="add" value="add" />
        <label for="subtract">Subtract</label>
        <input type="radio" name="action" id="subtract" value="subtract" />
        <label for="add">Multiply</label>
        <input type="radio" name="action" id="multiply" value="multiply" />
        <label for="add">Divide</label>
        <input type="radio" name="action" id="divide" value="divide" />
    </form>

    <h1>@Model.Message</h1>
</body>
</html>
